<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JTL.Tax1040.EfileServices.PingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <JTL.Tax1040.EfileServices.PingService.Properties.Settings>
            <setting name="JTL_Tax1040_EfileServices_PingService_ETECTransmitterServicesMTOM_GetNew2290Schedule1s"
                serializeAs="String">
                <value>http://localhost:9080/a2a/mef/mtom/GetNew2290Schedule1s</value>
            </setting>
            <setting name="JTL_Tax1040_EfileServices_PingService_MeFMSIServices_ChangePassword"
                serializeAs="String">
                <value>http://www.irs.gov/a2a/mef/ChangePassword</value>
            </setting>
            <setting name="JTL_Tax1040_EfileServices_PingService_MeFTransmitterServicesMTOM_SendSubmissions"
                serializeAs="String">
                <value>http://localhost:9080/a2a/mef/mtom/SendSubmissions</value>
            </setting>
        </JTL.Tax1040.EfileServices.PingService.Properties.Settings>
    </applicationSettings>
</configuration>