<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=TAX1040;Integrated Security=false; User ID=sa;password=dev2005" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=JTL_HS007\MSSQLSVR2012;Initial Catalog=TAX1040_Master_DB;user id=sa;password=123456" />
    <add key="TaxReturnConnectionString" value="Data Source=JTL_HS007\MSSQLSVR2012;Initial Catalog=TAX1040_Return_2014;user id=sa;password=123456" />
    <add key="TaxSlabRate" value="JTL.Tax1040.Core.Process.TaxCalculationXml.TaxRateSlabs.xml" />
    <add key="FromEmail" value="donotreply@jt.com" />
    <add key="MailHost" value="192.168.4.4" />
    <add key="AdminEmail" value="Sathish.Natarajan@jeevantechnologies.com" />
    <add key="LoginLink" value="http://localhost:36262/Login.html" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.html" />
            </files>
        </defaultDocument>
    </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
