<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=TAX1040;Integrated Security=false; User ID=sa;password=dev2005" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=TAX1040;user id=sa;password=dev2005" />
    <add key="TaxReturnConnectionString" value="Data Source=.;Initial Catalog=TAX1040Return;user id=sa;password=dev2005" />
    <add key ="TaxSlabRate" value="JTL.Tax1040.Core.Process.TaxCalculationXml.TaxRateSlabs.xml"/>
    <add key="FromEmail" value="donotreply@jt.com" />
    <add key="MailHost" value="192.168.4.4" />
    <add key="AdminEmail" value="Sathish.Natarajan@jeevantechnologies.com" />
    <add key="LoginLink" value="http://localhost:36262/Login.html" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
