@using GridMvc.Html
@model IEnumerable<JTL.TAX1040.Admin.BusinessObject.UserAdmin>

@{
    ViewBag.Title = "GetAllUserAdmin";
}

<h2>GetAllUserAdmin</h2>


@*<form method="post">
    <label>User Name</label>
    <input type="search" name="user_Name" />
    <label>First Name</label>
    <input type="search" name="first_Name" />
    <label>Occupation</label>
    <input type="search" name="occupation" />
    <label>SSN</label>
    <input type="search" name="social_security_number" />
    <label>DOB</label>
    <input type="search" name="date_of_birth" />
    <input type="submit" name="Search" />
</form>*@

@helper GridManageItemColumn(long id)
{
    @Html.ActionLink("Edit", "UpdateUserAdmin", "UserAdmin", new { Id = id }, null)
    <span>|</span>
    @Html.ActionLink("Delete", "DeleteUserAdmin","UserAdmin", new { Id = id },null)
  
}

<div id="GridRow" style="width: 1000px;">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.UserName).Titled("User Name");
    columns.Add(c => c.Email).Titled("First Name");
    columns.Add(c => c.UserAdminId).Titled("Action")
       .Sanitized(false)
       .Encoded(false)
       .RenderValueAs(g => GridManageItemColumn(g.UserAdminId).ToHtmlString());
}).WithPaging(5).Sortable(true)
</div>
