<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>Team,</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                QA Server for <b>"TAX GARDEN"</b> has been updated.  Please Login in the following URL.
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                QA URL: <a href="http://192.168.4.19/login.html">http://192.168.4.19/login.html</a>             
            </td>

        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
            
                Please find the attached QA release notes for your reference. Kindly revert me back for any issues.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
            Note : Database has been newly created. Kindly login as a new user
                </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
         <tr>
            <td></td>
        </tr>
        <tr><td>Thanks</td></tr>
        <tr><td>Release Team </td></tr>
        
    </table>

</body>
</html>
