<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>QA Log Off</title>
</head>
    <body>
        <table>
            <tr>
                <td>Team,</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>QA Server will go Offline to update latest QA release. </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Please Log off from <a href="http://192.168.4.19/login.html">http://192.168.4.19/login.html</a>    </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td> Thanks</td>
            </tr>
              <tr>
                <td> Release Team</td>
            </tr>
        </table>

    </body>
</html>
