<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        
        <table>
        <tr>
            <td>Team,</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                Smoke Server has been updated for Daily Smoke Release. 
            </td>
        </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Please Login in the following URL</td>
            </tr>
             <tr>
                <td></td>
            </tr>
        <tr>
            <td>
                Smoke URL: <a href="http://192.168.1.10/login.html">http://192.168.1.10/login.html</a>             
            </td>

        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
            
                Please find the attached Smoke release notes for your reference. Kindly revert me back for any issues.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
            Note : Database has been newly created. Kindly login as a new user
                </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
         <tr>
            <td></td>
        </tr>
        <tr><td>Thanks</td></tr>
        <tr><td>Release Team </td></tr>
        
    </table>      

    </body>
</html>
