<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        
        <table>
            <tr>
                <td>Team,</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Smoke Server will go Offline to update latest Smoke release.</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Please Log off from <a href="http://192.168.1.10/Login.html">http://192.168.1.10/Login.html</a>    </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td> Thanks</td>
            </tr>
              <tr>
                <td> Release Team</td>
            </tr>
        </table>
    </body>
</html>
