<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings><add name="Tax1040Entities" connectionString="metadata=res://*/TAX1040.Admin.Model.csdl|res://*/TAX1040.Admin.Model.ssdl|res://*/TAX1040.Admin.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tax1040;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Tax1040Entities" connectionString="metadata=res://*/TAX1040.Admin.Model.csdl|res://*/TAX1040.Admin.Model.ssdl|res://*/TAX1040.Admin.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tax1040;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="Tax1040Entities" connectionString="metadata=res://*/TAX1040Model.csdl|res://*/TAX1040Model.ssdl|res://*/TAX1040Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tax1040;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TAX1040_Admin_DBEntities" connectionString="metadata=res://*/TAX1040AdminUserModal.csdl|res://*/TAX1040AdminUserModal.ssdl|res://*/TAX1040AdminUserModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAX1040_Admin_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TAX1040UserAdminDB" connectionString="metadata=res://*/TAX1040UserAdminModel.csdl|res://*/TAX1040UserAdminModel.ssdl|res://*/TAX1040UserAdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TAX1040_Admin_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>