<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Tax1040Web-20140102174700;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Tax1040Web-20140102174700.mdf" />
  </connectionStrings>-->
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=JTL_197;Initial Catalog=Tax1040;user id=sa;password=sql@2005"/>-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=TAX1040_Master_DB;Integrated Security=True"/>
    <add key="TaxReturnConnectionString" value="Data Source=.;Initial Catalog=TAX1040_Return_2014;user id=sa;password=dev2005"/>
    <add key="FromEmail" value="donotreply@jt.com"/>
    <add key="MailHost" value="192.168.4.4"/>
    <add key="AdminEmail" value="Sathish.Natarajan@jeevantechnologies.com"/>
  </appSettings>
</configuration>